nav{
  display: flex;
  justify-content: space-around;
  background: linear-gradient(180deg, #7BC3EC 0%, rgba(217, 217, 217, 0) 100%);
}

body{
background: url('https://s3-alpha-sig.figma.com/img/e063/202b/c6712661154a7b67d0482ad874bc030b?Expires=1693785600&Signature=N1NqJF-gUQLBk-ro92fjR9JGIymX4PEsnvJP8oDcqUeaWCflHgoeEEPjiwr1NWxepYb6z2hVoLnvtkUrebGh1VrC69IPHAXvoL1IUvVV1sthIBGQxqEMAinoTjK3gIysMXRwouP418Wu8MdIxluz23Sfee8zMvE8HL-uJON~c8NXEG9ZfRnMVMNKd4xE7JCbF27lQwU23z~EXRnDO3FqaT4vDuZoVs-MjKT~2BABQ2r1Yd9L6QKMdY3bRzucUMMxaRVTjw8hIu4micTZZwvyqdJv6-sqylkNAJI3jueKdMenN8EppZPZ8ByjVu7vSTdz7p1v23mFUPcJDmbxeUSyHA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4'), lightgray 50% / cover no-repeat;
background-blend-mode: screen; background-repeat: no-repeat; background-size: cover;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
margin-top: 0px;

}
nav > :link{
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}
.foodQuery{
  display: flex;
  justify-content: center;
}

.journal{
margin-top: 20px;
width: 800px;
height: fit-content;
border: solid black 2px;
}

.ingredient{
width: 800px;
height: fit-content;
border: solid black 2px;
}
.selector{
  width: 400px;

}
.register{
  height:50vh;
  width:75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('https://i.imgflip.com/75aw7p.png'), lightgray 50% / cover no-repeat;
  background-blend-mode: screen; background-repeat: no-repeat; background-size: cover;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 400px;
  margin-bottom: 400px;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
  bottom: 300px;
}

.register > h3 {
  color: red;
}

.login{
  height:50vh;
  width:75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('https://i.imgflip.com/75aw7p.png'), lightgray 50% / cover no-repeat;
  background-blend-mode: screen; background-repeat: no-repeat; background-size: cover;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 400px;
  margin-bottom: 400px;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
  bottom: 300px;

}

.login > h3{
  color: red;
}